body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}
.wrapper
{
  height: 100vh;
  width: 100vw;
  overflow: overlay;
  background-color: #161640;
}

section {
  padding: 30px;
  box-sizing: border-box;
}

p, table, .row span, .top {
    font-family: franklin-gothic-urw, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.4vw;
    color: #fff;
    line-height: 25px;
}

.row span {
	padding: 2% 0;
}

.chapter-name {
	width: 40%;
    margin: 4% auto;
    position: relative;
}

.chapter-name img{
  width: 100%;
}

.row {
    width: 55%;
    margin: 5% auto;
    position: relative;
}

.image {
	text-align: center;
}

.image img {
	width: 45%;
}

.logo {
	width: 100%;
	background-color: #fff;
	height: 80px;
	margin: 2% 0;
}


/*credits*/

table {
	width: 100%;
	margin: 20px 0;
}

th {
	text-align: center;
	width: 100%;
}

* {
	margin:0; 
	padding:0;
}
.role { 
	float: right;
	padding-right: 5%;
}

.name {
	padding-left: 5%;
	width: 50%;
}

.credits-wrapper {
    position: relative;

}

.top {
	position: relative;
	width: 100%;
	text-transform: uppercase;
	font-size: 1.4vw;
	text-align: center
}


/* mobile and tablet */

@media only screen and (max-width: 900px) {

	table {
		line-height: 20px;
	}

}