body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}
.wrapper
{
  height: 100vh;
  width: 100vw;
  overflow: overlay;
}

section {
  padding: 30px;
  box-sizing: border-box;
}

p {
    font-family: franklin-gothic-urw, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.2vw;
}