body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}
.wrapper
{
  height: 100vh;
  width: 100vw;
  overflow: overlay;
  overflow-x: hidden;
  background-color: #161640;
}

section {
  padding: 30px;
  box-sizing: border-box;
}

.not-footer p, table, .not-footer span, .top, .bottom {
    font-family: franklin-gothic-urw, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
    color: #fff;
    line-height: 25px;
}

.not
{
  color: #000;
  padding: 2vh 26vw;
  margin: 5% auto;
  font-family: franklin-gothic-urw, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  line-height: 25px;
}

.not-footer span {
	padding: 2% 0;
}

.chapter-name {
    margin: 4% auto;
    position: relative;
    text-align: center;
}

.chapter-name img{
  width: 70%;
}

.not-footer {
    padding: 2vh 26vw 50vh 26vw;
    position: relative;
    background-image: url(../gfx/aboutthisproject.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: #01011f;

}

.image {
	text-align: center;
}

.image img {
	width: 45%;
}

.logo {
	width: 100%;
	background-color: #fff;
	margin: 0;
	padding: 20px;
}


/*credits*/

table {
	width: 100%;
	margin: 20px 0;
}

th {
	text-align: center;
	width: 100%;
}

* {
	margin:0;
	padding:0;
}

.role {
	float: right;
	padding-right: 5%;
}

.name {
	padding-left: 5%;
	width: 50%;
}

/*.name.last {
	width: 100%;
}*/

.credits-wrapper {
    position: relative;
    margin: 10vh 0;
}

.top {
	position: relative;
	width: 100%;
	font-size: 1.4vw;
	text-align: center;

}

.bottom {
	position: relative;
	width: 100%;
	font-size: 1vw;
	text-align: center;
  top: 4vh;
}

/*logo*/

.one img {
	height: 30px;
	margin: 2%;
}

 .two img{
	height: 65px;
	margin: 2%;
}

.one {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.two {
	text-align: center;
	margin: 0 auto;
	width: 80%;
}

/* mobile and tablet */

@media only screen and (max-width: 900px) {

	table {
		line-height: 20px;
	}

	.one img {
		height: 20px;
		margin: 1%;
	}

 	.two img{
		height: 40px;
		margin: 2%;
	}

}
