
body:before {
  background: url(../gfx/chapter-titles/rainiessong.jpg);
  background-repeat: no-repeat;
  backgrond-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: #6da447;
}


.full-orientation
{
  display: none !important;
}

p {
	font-family: 'Averia Serif Libre', cursive;
	color: #000;
    font-size: 1em;
    line-height: 9px;
	text-align: center;
}


.row {
	width: 40%;
    padding: 15px;
    margin-top: 8%;
    display: block;
    /*overflow-y: scroll;*/
}

.right {
	float: right;
    margin-right: 13%;
}

.chapter-name {
    width: 16%;
    position: absolute;
    top: 3%;
    right: 25%;
    display: block;
    margin-top: 4%;
}

.chapter-name img {
	width: 100%;
}

.prev-next-btn
{
	position: absolute;
	bottom: 5vh;
	width: 100vw;
}

.prev-next-btn span
{
  display: block;
  font-size: 0.5em;
}

.quiz {
	cursor: no-drop;
}

#prev-chapter
{
   	height: 6.5vh;
	background-image: url(../gfx/previous-button.svg);
	background-repeat: no-repeat;
	background-size: 3vh auto;
	background-position: 5% center;
	float: left;
	padding: 1.5vh 2vh 1.5vh 6vh;
	box-sizing: border-box;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
	border-radius: 5px;
	margin-left: 1vw;
    font-family: franklin-gothic-urw, sans-serif;
    font-weight: 700;
    font-style: normal;
    position: fixed;
    left: 0;
    bottom: 3%;
}

#next-chapter-one
{
    height: 6.5vh;
    background-image: url(../gfx/next-button.svg);
	background-repeat: no-repeat;
	background-size: 3vh auto;
	background-position: 93% center;
	float: right;
	padding: 1.5vh 6vh 1.5vh 2vh;
	box-sizing: border-box;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
	border-radius: 5px;
	margin-right: 1vw;
    font-family: franklin-gothic-urw, sans-serif;
    font-weight: 700;
    font-style: normal;
    position: fixed;
    right: 0;
    bottom: 3%;
}

.portrait {
  width: 100%;
  height: 100%;
  background-color: #6da447;
  position: absolute;
}


/* mobile and tablet */

@media only screen and (max-width: 900px) {

  body:before {
    right: 12%;
    left: unset;
  }

	.row {
		margin-top: 12%;
		width: 57%;
		padding: 17px 15px;
    margin-bottom: 6%;
	}

  .right {
    margin-right: 8%;
  }

  #prev-chapter
  {
    height: 8.5vh;
    background-size: 4.75vh auto;
    background-position: 5% center;
    padding: 1.5vh 2vh 1.5vh 9vh;
    border-radius: 5px;
    font-size: 1.75vw;
    right: 0;
    left: unset;
  }

  #next-chapter
  {

    opacity: 0.3 !important;
    height: 8.5vh;
    background-size: 4.75vh auto;
    background-position: 93% center;
    padding: 1.5vh 9vh 1.5vh 2vh;
    border-radius: 5px;
    font-size: 1.75vw;
  }

	.row p {
    margin: 0;
    font-size: 1em;
    line-height: 22px;
	}

	.chapter-name {
    width: 27%;
    right: 22%;
    top: 6%;

	}

  .prev-next-btn
  {
    width: 100%;

    font-size: 2vh;
  }

}
