body:before {
  background: url(../gfx/chapter-titles/twodoctors.jpg);
  background-repeat: no-repeat;
  backgrond-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body
{
  background-color: #000034;
}

p, .drop-cap {
	color: #fff;
}

.chapter-name {
	top: 10%;
    left: 5%;
}

/* mobile and tablet */

@media only screen and (max-width: 900px) {

  body:before {
    background: url(../gfx/m-chapter-titles/m-twodoctors.jpg);
    background-repeat: no-repeat;
    backgrond-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .chapter-name {
    display: none;
  }

}
