body
{
  background-image: url(../gfx/chapter-titles/socialmediastar.svg);
  background-repeat: no-repeat;
  background-size: cover;

}

p {
	font: #000;
}


/* mobile and tablet */

@media only screen and (max-width: 900px) {



}
