body:before {
  background: url(../gfx/chapter-titles/themiddleman.jpg);
  background-repeat: no-repeat;
  backgrond-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
}

body
{
  background-color: #010542;
}

p, .drop-cap, .soundcite {
	color: #fff;
}


.full-orientation
{
  display: none !important;
}

.soundcite-loaded {
	background-color: #ffffff26 !important;
}

.soundcite-play:before {
	border-left: 0.75em solid white !important;
}

.soundcite-pause:before {
	border-left: .75em double white !important;
}

.chapter-name {
	top: 15%;
	left: 8%;
}

.portrait {
  width: 100%;
  height: 100%;
  background-color: #020c42;
  position: absolute;
}

/* mobile and tablet */

@media only screen and (max-width: 900px) {

	body:before {
	  background: url(../gfx/m-chapter-titles/m-middleman.jpg);
	  background-repeat: no-repeat;
	  backgrond-position: center;
    /*background-attachment: fixed;*/
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
	}

.chapter-name {
	display: none
	}

}
