body
{
background-image: url(../gfx/marble-texture/marble-texture.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;

}

button {
	width: 51%;
    float: right;
}

.swiper-container {
  width: 100%;
  height: auto;
  position: relative;
}

.swiper-wrapper {
  margin: 0px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide {
	width: 100%;
	background-color: #ffffff00;
}

.swiper-slide img {
  width: 100%;
}

.popup {
  display: none;
  width: 100%;
  margin: 0;
  height:100vh;
  z-index: 700;
  position: absolute;
  top: 7%;
  left: 0;
}

.close {
  position: absolute;
  right: 0;
  margin-right: 2%;
  margin-top: 1%;
  z-index: 800;
}



/* mobile and tablet */

@media only screen and (max-width: 900px) {

	.popup {
		top: 0;
	}

}
