body {
  background: url(../gfx/chapter-titles/themiddleman.jpg) no-repeat fixed;
  background-size: cover;
}

p, .drop-cap, .soundcite {
	color: #fff;
}

.soundcite-loaded {
	background-color: #ffffff26 !important;
}

.soundcite-play:before {
	border-left: 0.75em solid white !important;
}

.soundcite-pause:before {
	border-left: .75em double white !important;
}

.chapter-name {
	top: 15%;
	left: 8%;
}


/* mobile and tablet */

@media only screen and (max-width: 900px) {

.chapter-name {
	top: 10%;
	left: 5%;
	}

}
