.wrapper {
  background: url(../gfx/chapter-titles/socialmediastar.svg) no-repeat fixed;
  background-size: cover;
}


p, a, .drop-cap {
	color: #000;
}

.chapter-name {
  left: 10%;
  top: 10%;
  width: 35% !important;
}



/* mobile and tablet */

@media only screen and (max-width: 900px) {

  .chapter-name {
    left: 5%;
    top: 5%;
    width: 50% !important;
  }

}
