body {
    width: 100vw;
    overflow: hidden;
    margin: 0;
    background-color: #a1a686;
}

p {
	font-family: franklin-gothic-urw, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 0.8em;
}

svg {
	width: 100vw;
}

.map-wrapper {
	background-image: url(../gfx/route-map/main-img.png);
	background-repeat: no-repeat;
    background-size: cover;
}

.swiper-container {
  width: 100%;
  height: auto;
  position: relative;
}

.swiper-wrapper {
  margin: 0px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide {
	width: 100%;
	background-color: #ffffff00;
}

.swiper-slide img {
  width: 100%;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 3vw;
  margin-top: 5vh;
  z-index: 800;
  font-size: 30px;
  color: #fff;
  background-color: transparent;
  border: none;
}

.popup {
  display: none;
  width: 100%;
  margin: 0;
  height:100vh;
  z-index: 700;
  position: absolute;
  top: 0;
  left: 0;
}


.main-view {
	width: 100vw;
	height: 100vh;
}

.main-map-title {
    position: relative;
    padding-top: 10%;
    width: 55%;
    text-align: center;
}

.main-map-title img {
	width: 60%;
}

#open-slider {
	position: relative;
    left: 19%;
    width: 18%;
    height: 40px;
    margin-top: 3%;
    background-color: #e89c00;
    text-align: center;
    border-style: none;
    color: #fff;
    font-size: 1em;
    font-family: franklin-gothic-urw, sans-serif;
  	font-weight: 700;
  	font-style: normal;
}

.left{
    position: absolute;
    width: 25%;
    top: 5%;
    left: 5%;
}

.left-bottom {
	  position: absolute;
	  width: 25%;
    bottom: 13%;
    left: 5%;
}

.right-top {
	position: absolute;
	width: 25%;
	right: 5%;
	top: 8%;
}

.left-top {
  left: 5%;
  top: 5%;
}

.right-center {
	position: absolute;
	width: 25%;
	right: 5%;
	top: 30%;
}

.legend {
  position: absolute;
  width: 32%;
  bottom: 13%;
  left: 5%;
}

.map-text {
	position: absolute;
    text-align: left;
    width:25%;
    z-index: 1;
}

.map-title {
	font-size: 1em;
	font-family: 'Averia Serif Libre', cursive;
  line-height: 25px;
  font-weight: 300;
}

.mobile {
	display: none;
}


/*slides*/

.slide-footer {
    position: absolute;
    bottom: 0;
    right: 2%;
}

.before-label {
    position: absolute;
    width: 35%;
    top: 35px;
    left: 20%;
    z-index: 1;
}

.before-label span {
	text-transform: uppercase;
    font-family: franklin-gothic-urw, sans-serif;
    color: #fff;
}

.before-text {
	height: 63px;
    width: 210px;
    background-color: #720001;
    font-family: franklin-gothic-urw, sans-serif;
    color: #fff;
    margin: 7px auto;
    font-size: 3em;
}

.route-legend {
	  position: absolute;
    padding: 5px;
    font-size: 13px;
    font-weight: 700;
    line-height: 19px;
    width: 30%;
    top: 5%;
    text-transform: uppercase;
    font-family: franklin-gothic-urw, sans-serif;
}

.lgnd {
  top: 80%;
  line-height: 13px;
}

.prev-next-btn
{
	position: absolute;
	bottom: 5vh;
	width: 100vw;
}

#prev-chapter
{
	height: 5vh;
	background-image: url(../gfx/previous-button.svg);
	background-repeat: no-repeat;
	background-size: 3vh auto;
	background-position: 5% center;
	float: left;
	padding: 1.5vh 2vh 1.5vh 6vh;
	margin-left: 1vw;
	box-sizing: border-box;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
	border-radius: 5px;

  font-family: franklin-gothic-urw, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#next-chapter
{
	height: 5vh;
	background-image: url(../gfx/next-button.svg);
	background-repeat: no-repeat;
	background-size: 3vh auto;
	background-position: 93% center;
	float: right;
	padding: 1.5vh 6vh 1.5vh 2vh;
	margin-right: 1vw;
	box-sizing: border-box;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
	border-radius: 5px;

  font-family: franklin-gothic-urw, sans-serif;
	font-weight: 700;
	font-style: normal;
}

.swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    display: inline-block;
    border-radius: 100%;
    border: #fff solid 2.4px;
    background-color: transparent !important;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #fff !important;
}


.active {
  display: block !important;
  position: absolute;
}

#a, #b {
  display: none;
}

#b-img {
  position: absolute;
  right: 5%;
  top: 35%;
}

#a-img {
  position: absolute;
  right: 19%;
  top: 35%;
}

#a-img, #b-img {
  background-color: #362f2d;
  width: 12%;
  padding: 15px;
  border-radius: 2.5px;
  border: none;
  font-family: franklin-gothic-urw, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  z-index: 1;

}

#bm-img {
  position: absolute;
  right: 5%;
  top: 35%;
}

#am-img {
  position: absolute;
  right: 19%;
  top: 35%;
}

#am-img, #bm-img {
  background-color: #362f2d;
  width: 12%;
  padding: 15px;
  border-radius: 2.5px;
  border: none;
  font-family: franklin-gothic-urw, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;

}

#b-img:focus, #bm-img:focus, #a-img:focus, #am-img:focus {
  opacity: 0.5;

}

/* mobile and tablet */

@media only screen and (max-width: 900px) {


	.popup {
		top: 0;
		position: fixed;
	}

	.mobile {
		display: block;
		background-color: #b1b59d;
	}

	.desktop {
		display: none;
	}

  .map-title {
    font-size: 0.7em;
  }

  .mobile.map-text {
    width: 28%;
    top: 33%;
  }

  .left {
    left: 5%;
    top: 47%;
  }
  .bottom {
    top: 33%;
    left: 2%;
  }

  .right {
    bottom: 30%;
    right: 2%;
  }

  .top {
    top: 3%;
    right: 2%;
  }

  #am-img {
    right: 19%;
    top: 46%;
  }

  #bm-img{
    right: 2%;
    top: 46%;
  }

  #am-img, #bm-img {
    width: 14%;
    padding: 13px;
  }
 
	#open-slider {
		left: 16%;
    	width: 23%;
	}

/*	#overlay-text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffffc4;
    padding: 20px;
	}*/

  .before-label {
    width: 35%;
    left: 25%;
    top: 3%;
  }

	.before-text {
		margin: 0 auto;
	}

	.before-label span {
		font-size: 11px;
	}

  .prev-next-btn
  {
    width: 100%;
    font-size: 2vh;
  }


}
