body
{
background-image: url(../gfx/marble-texture/marble-texture.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;

}

button {
	width: 51%;
    float: right;
}

.swiper-container {
  width: 100%;
  height: auto;
  position: relative;
}

.swiper-wrapper {
  margin: 0px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide {
	width: 100%;
	background-color: #ffffff00;
}

.swiper-slide img {
  width: 100%;
}

.popup {
  display: none;
  width: 100%;
  margin: 0;
  height:100vh;
  z-index: 700;
  position: absolute;
  /*top: 7%;*/
  left: 0;
}

.close {
  position: absolute;
  right: 0;
  margin-right: 2%;
  margin-top: 1%;
  z-index: 800;
  width: 45px;
}

.close i {
	font-size: 25px;
}

button {
	width: 51%;
    float: right;
    background-color: #ffffff00;
    border-style: none;
    outline: 0;
    z-index: 800;
}

.b {
	width: 180px;
    height: 14px;
    margin-right: 70px;
    float: right;
    padding: 16px;
    border-radius: 2.5px;
    font-family: franklin-gothic-urw, sans-serif;
    color: #fff;
    text-transform: uppercase;
}

#lactation-btn {
	margin-top: 10%;
}

.lac {
	background-color: #362f2d;
}

.furn {
	background-color: #934a0d;
}

.arth {
	background-color: #754c24;
}

.det {
	background-color: #a57b4a;
}

.top-left {
	position: fixed;
	z-index: -1;
}

.bottom-right {
	position: fixed;
    right: 0;
    bottom: 0px;
    margin: 0;
    padding: 0;
    width: 26%;
}

.bottom-right img {
	float: right;
}

.center-middle {
    position: fixed;
    right: 25%;
    bottom: 55%;
    margin: 0;
    padding: 0;
    width: 50%;
    text-align: center;
    font-family: franklin-gothic-urw, sans-serif;
}

.center-middle img {
	width: 60%;
}

.center-bottom {
    position: fixed;
    right: 25%;
    bottom: 15%;
    margin: 0;
    padding: 0;
    width: 50%;
    text-align: center;
    font-family: franklin-gothic-urw, sans-serif;
}

.note-text {
	font-size: 12px;
	color: #6c451f;
	font-weight: 600;
}

.recipe-text {
	position: absolute;
    width: 40%;
    top: 35px;
    left: 10%;
    text-align: left;
    font-family: franklin-gothic-urw, sans-serif;
    font-size: 14px;
}

.recipe-title {
	font-size: 40px;
}

.mobile {
	display: none;
}

.mobile img {
	margin-left: 50%;
}

.lactation {
	background-color: #ffc9ae;
}

.furuncle {
	background-color: #f0d1a7;
}

.arthritis {
	background-color: #fbcd9d;
}

.detox {
	background-color: #f1ccc0;
}


/* mobile and tablet */

@media only screen and (max-width: 900px) {

	.popup {
		top: 0;
	}

	.mobile {
		display: block;
	}

	.desktop {
		display: none;
	}

}
