body
{
  background-image: url(../gfx/chapter-titles/rainiessong.svg);
  background-repeat: no-repeat;
  background-size: cover;

}

p, .drop-cap {
	color: #fff;
}

.chapter-name {
    width: 40%;
    bottom: 0;
    margin-left: 30%;
    margin-right: 30%;
}

.chapter-name img {
	width: 100% !important;
}

/* mobile and tablet */

@media only screen and (max-width: 900px) {



}
