body {
  height: 100%; /* Fallback for browsers that do not support Custom Properties */
    width: 100vw;
    overflow: hidden;
    margin: 0;
    background-image: url(../gfx/route-map/map-main.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #a1a686;
    background-size: cover;
}

p {
	font-family: franklin-gothic-urw, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 0.8em;
}


.full-orientation
{
  display: none !important;
}

svg {
	/*min-width: 100vw;*/
  height: 100vh;
  float: right;
}

.portrait {
  width: 100%;
  height: 100%;
  background-color: #adb67f;
  position: absolute;
}

  .progress {
    right: 7%;
    top: 12%;
    position: absolute;
    text-transform: uppercase;
    font-family: franklin-gothic-urw, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.7em;
    color: #fff;
  }

 .swipe {
    position: absolute;
    bottom: 8%;
    left: 5%;
    font-size: 0.7em;
    border: none !important;
    color: #000;
    font-family: 'Averia Serif Libre', serif;
  }


.swiper-container {
  min-width: 100vw;
  height: 100vh;
  position: relative;
}

.swiper-wrapper {
  margin: 0px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide {
	width: 100%;
	background-color: #ffffff00;
}

.swiper-slide img {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 100%;

  /* Set up proportionate scaling */
  width: auto;
  height: 100vh;

  /* Set up positioning */
  position: absolute;
  top: 0;
  left: 0;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 3vw;
    margin-top: 11vh;
    z-index: 800;
    padding: 2px 9px;
    font-size: 25px;
    color: #fff;
    border-radius: 50%;
    background-color: #00000038;
    border: none;
    cursor: pointer;
}

.popup {
  display: none;
  width: 100%;
  margin: 0;
  height:100vh;
  z-index: 700;
  position: absolute;
  top: 0;
  left: 0;
}


.main-view {
	width: 100vw;
	height: 100vh;
}

.main-map-title {
    position: relative;
    padding-top: 10%;
    width: 55%;
    text-align: center;
}

.main-map-title img {
	width: 60%;
  margin-left: 19%;
}

#open-slider {
	position: relative;
    left: 19%;
    width: 18%;
    height: 72px;
    margin-top: 2%;
  cursor: pointer;
    /*background-color: #e89c00;*/
}

.africa {
  width: 24% !important;
}

.left{
    position: absolute;
    width: 25%;
    top: 8%;
    left: 5%;
}



.left-bottom {
	  position: absolute;
	  width: 25%;
    bottom: 13%;
    left: 5%;
}

.right-top {
	position: absolute;
	width: 25%;
	right: 5%;
	top: 30%;
}

.left-top {
  left: 5%;
  top: 5%;
  width: 35% !important;
}

.middle {
  bottom: 16%;
  right: 5%;
}

.right-center {
	position: absolute;
	width: 25%;
	right: 5%;
	top: 40%;
}

.legend {
  position: absolute;
  width: 32%;
  bottom: 13%;
  left: 5%;
}

.map-text {
	position: absolute;
    text-align: left;
    width:25%;
    z-index: 1;
}

.map-title {
    font-family: 'Averia Serif Libre', serif;
    color: #000;
    font-size: 1.2em;
    line-height: 28px;
}

.mobile {
	display: none;
}


/*slides*/

.slide-footer {
    position: absolute;
    bottom: 7%;
    right: 3%;
    z-index: 700;
    font-size: 1em;
    text-transform: uppercase;
}

.before-label {
    position: absolute;
    width: 35%;
    top: 85px;
    left: 28%;
    z-index: 1;

}

.before-label span {
	text-transform: uppercase;
    font-family: franklin-gothic-urw, sans-serif;
    color: #fff;
}


.before-text {
  height: 66px;
    width: 313px;
    background-color: #720001;
    font-family: franklin-gothic-urw, sans-serif;
    color: #fff;
    margin: 7px auto;
    font-size: 3em;
}

.route-legend {
	  position: absolute;
    padding: 5px;
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
    width: 25%;
    top: 5%;
    left: 5%;
    text-transform: capitalize;
    font-family: franklin-gothic-urw, sans-serif;
}

.lgnd {
    top: 82%;
    width: 25%;
    line-height: 10px;
    font-size: 0.6em;
}

.prev-next-btn
{
	position: absolute;
	bottom: 5vh;
	width: 100vw;
}

.prev-next-btn span
{
  display: block;
  font-size: 0.5em;
}


#prev-chapter
{
  height: 6.5vh;
  background-image: url(../gfx/previous-button.svg);
  background-repeat: no-repeat;
  background-size: 3vh auto;
  background-position: 5% center;
  float: left;
  padding: 1.5vh 2vh 1.5vh 6vh;
  margin-left: 1vw;
  box-sizing: border-box;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  border-radius: 5px;

  font-family: franklin-gothic-urw, sans-serif;
  font-weight: 700;
  font-style: normal;
}

#next-chapter
{
  height: 6.5vh;
  background-image: url(../gfx/next-button.svg);
  background-repeat: no-repeat;
  background-size: 3vh auto;
  background-position: 93% center;
  float: right;
  padding: 1.5vh 6vh 1.5vh 2vh;
  margin-right: 1vw;
  box-sizing: border-box;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  border-radius: 5px;

  font-family: franklin-gothic-urw, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    display: inline-block;
    border-radius: 100%;
    border: #fff solid 2.4px;
    background-color: transparent !important;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #fff !important;
}


.active-m {
  display: block !important;
  position: absolute;
}

.btn-wrapper {
  width: 25%;
  position: absolute;
  right: 5%;
}

#a, #b {
  display: none;
}

#a-img {
  position: absolute;
  right: 0%;
  top: 45%;
  cursor: pointer;
}

#b-img {
  position: absolute;
  right: 52%;
  top: 45%;
  cursor: pointer;

}

#a-img, #b-img {
  background-color: #362f2d;
  width: 48%;
  padding: 13px;
  border-radius: 2.5px;
  border: none;
  font-family: franklin-gothic-urw, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  z-index: 1;

}

#am, #bm {
  display: none;
  position: absolute;
}


#am-img {
  position: absolute;
  right: 2%;
  top: 225px;
  cursor: pointer;

}

#bm-img {
  position: absolute;
  right: 20%;
  top: 225px;
  cursor: pointer;

}

#am-img, #bm-img {
  background-color: #362f2d;
  width: 17%;
  padding: 13px;
  border-radius: 2.5px;
  border: none;
  font-family: franklin-gothic-urw, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  z-index: 1;
}

#b-img:focus, #bm-img:focus, #a-img:focus, #am-img:focus {
  opacity: 0.5;

}

 #cn-desk {
    display: block;
  }

  #cn-m {
    display: none;
  }

/* mobile and tablet */

@media only screen and (max-width: 900px) {


	.popup {
		top: 0;
		position: fixed;
	}

	.mobile {
		display: block;
		background-color: #cdd7a6;
	}

	.desktop {
		display: none;
	}

    #cn-desk {
    display: none;
  }

  #cn-m {
    display: block;
  }

  .swipe {
    bottom: 12%;
  }

  .swiper-slide img {
  /* Set rules to fill background */
    min-height: unset;
    min-width: unset;
  }

  .map-title {
    font-size: 0.9em !important;
    line-height: 18px;
  }

  .mobile.map-text {
    width: 28%;
    top: 33%;
  }

  .left {
    left: 5%;
    top: 23%;
  }
  .bottom {
    top: 17%;
    left: 5%;
    width: 31%;
  }

  .right {
    bottom: 30%;
    right: 2%;
  }

  .top {
    top: 50px;
    right: 2%;
    width: 35%;
  }

	#open-slider {
		left: 17%;
    width: 21%;
    height: 45px;
    margin-top: 1%;
	}

  .before-text {
  height: 46px;
    width: 172px;
    background-color: #720001;
    font-family: franklin-gothic-urw, sans-serif;
    color: #fff;
    margin: 7px auto;
    font-size: 2em;
    margin-top: 8%;
    margin-right: 16%;
}


/*	#overlay-text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffffc4;
    padding: 20px;
	}*/


  .before-label {
    width: 35%;
    left: 17%;
    top: 15px;
  }

  #resize-right {
    min-width: unset;
    max-width: unset;
    width: 85%;
    height: 100%;
    left: unset;
    right: 0;
  }

    #resize-left {
    min-width: unset;
    max-width: unset;
    width: 85%;
    height: 100%;
    right: unset;
    left: 0;
  }

  .slide-footer {
    font-size: 0.6em;
  }


	.before-text {
		margin: 0 auto;
	}

	.before-label span {
		font-size: 11px;
	}

  .prev-next-btn
  {
    width: 100%;
    font-size: 2vh;
  }

  #prev-chapter
  {
    height: 8.5vh;
    background-size: 4.75vh auto;
    background-position: 5% center;
    padding: 1.5vh 2vh 1.5vh 9vh;
    border-radius: 5px;
    font-size: 1.75vw;
  }

  #next-chapter
  {
    height: 8.5vh;
    background-size: 4.75vh auto;
    background-position: 93% center;
    padding: 1.5vh 9vh 1.5vh 2vh;
    border-radius: 5px;
    font-size: 1.75vw;
  }


}
