.wrapper {
  background: url(../gfx/chapter-titles/thepoliceman.svg) no-repeat fixed;
  background-size: cover;
}
p, .drop-cap {
	color: #fff;
}

/* mobile and tablet */

@media only screen and (max-width: 900px) {



}
