body
{
  background-image: url(../gfx/chapter-titles/thepoliceman.svg);
  background-repeat: no-repeat;
  background-size: cover;

}

p, a, .drop-cap, .soundcite {
	color: #fff;
}

.soundcite-loaded {
	background-color: #ffffff26 !important;
}

.soundcite-play:before {
	border-left: 0.75em solid white;
}

.soundcite-pause:before {
	border-left: .75em double white;
}

/* mobile and tablet */

@media only screen and (max-width: 900px) {



}
