.wrapper {
  background: url(../gfx/chapter-titles/followthetrail.svg) no-repeat fixed;
  background-size: cover;
}
p, .drop-cap {
	color: #fff;
}

.chapter-name {
	top: 20%;
    left: 10%;
}

/* mobile and tablet */

@media only screen and (max-width: 900px) {



}
