body:before {
  background: url(../gfx/chapter-titles/smuggler.jpg);
  background-repeat: no-repeat;
  backgrond-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body
{
  background-color: #1c1b1a;
}

p, .drop-cap, .soundcite, .photo-caption {
	color: #fff;
}

.full-orientation
{
  display: none !important;
}

.chapter-name {
  bottom: 35%;
  left: 5%;
}

.soundcite-loaded {
	background-color: #ffffff26 !important;
}

.soundcite-play:before {
	border-left: 0.95em solid white !important;
}

.soundcite-pause:before {
	border-left: .95em double white !important;
}

.caption{
  color: #fff;
  padding: 20px;
  display: none;
  margin-top: 8%;
  position: absolute;
  font-family: franklin-gothic-urw, sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 1.2vw;
}

.swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    display: inline-block;
    border-radius: 100%;
    border: #fff solid 2.4px;
    background-color: transparent !important;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #fff !important;
}

.portrait {
  width: 100%;
  height: 100%;
  background-color: #1b1a19;
  position: absolute;
}


/* mobile and tablet */

@media only screen and (max-width: 900px) {

  body:before {
    background: url(../gfx/m-chapter-titles/m-smuggler.jpg);
    background-repeat: no-repeat;
    backgrond-position: center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }

  .chapter-name {
    display: none;
  }

}

@media only screen and (orientation: portrait) {
  
  #next-chapter {
    width: 50% !important;
    height: 8vh !important;
  }

}
