p, .drop-cap {
  color: #fff;
}

.wrapper {
  background: url(../gfx/chapter-titles/boatman.svg) no-repeat fixed;
  background-size: cover;
}

.chapter-name {
  top: 5%;
  left: 5%;
}

/* mobile and tablet */

@media only screen and (max-width: 900px) {

  .slider label img {
    width: 55px;
  }

  .slide-caption p {
    font-size: 1.8vw;
  }

  .chapter-name {
    top: 10%;
  }


}
