.wrapper {
  background: url(../gfx/chapter-titles/smuggler.svg) no-repeat fixed;
  background-size: cover;
}

p, .drop-cap, .soundcite, .photo-caption {
	color: #fff;
}

.chapter-name {
  bottom: 35%;
  left: 5%;
}

.soundcite-loaded {
	background-color: #ffffff26 !important;
}

.soundcite-play:before {
	border-left: 0.75em solid white !important;
}

.soundcite-pause:before {
	border-left: .75em double white !important;
}

.caption{
  color: #fff;
  padding: 20px;
  display: none;
  margin-top: 8%;
  position: absolute;
  font-family: franklin-gothic-urw, sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 1.2vw;
}


/* mobile and tablet */

@media only screen and (max-width: 900px) {



}
