
body
{
  background: url(../gfx/boatman-color.svg) no-repeat fixed;
  background-size: cover;
}

section {
  padding: 30px;
  box-sizing: border-box;
}

#pinContainer {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
	-webkit-perspective: 1000;
	perspective: 1000;
}
	#slideContainer {
		width: 400%;
    height: 100%;
    position: absolute;
}

.page {
  background-color: #ffffff00;
}

.page1, .page2, .page3, .page4  {
  	height: 100%;
		width: 25%;
    position: absolute;
    top: 0;
}
	.page1 {
    /*border-style: solid;*/
}

	.page2 {
    background-color: #FFD233; 
    left: 25%;
}

.page3{
    background-color: #DDECCC; 
    left: 50%;
}

.page4{
    background-color: #DEFF22; 
    left: 75%;
  
}

.row {
  width: 60%;
  float: right;
  opacity: 0;
}

.column {
    float: left;
    width: 44%;
    padding: 20px;
}

