p, .drop-cap {
  color: #fff;
}

body:before {
  background: url(../gfx/chapter-titles/boatman.jpg);
  background-repeat: no-repeat;
  backgrond-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body
{
  background-color: #112582;
}

.chapter-name {
  top: 15%;
  left: 8%;
}

.swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    display: inline-block;
    border-radius: 100%;
    border: #fff solid 2.4px;
    background-color: transparent !important;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #fff !important;
}

/* mobile and tablet */

@media only screen and (max-width: 900px) {

  body:before {
    background: url(../gfx/m-chapter-titles/m-boatman.jpg);
    background-repeat: no-repeat;
    backgrond-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


  .slider label img {
    width: 55px;
  }

  .slide-caption p {
    font-size: 1.8vw;
  }

  .chapter-name {
    display: none;
  }


}
