.wrapper
{
  background-image: url(../gfx/chapter-titles/theforest.svg);
  background-repeat: no-repeat;
  background-size: cover;

}

p, .drop-cap {
	color: #000;
}


.chapter-name {
  left: 7%;
  top: 10%;
}

.chapter-name img {
    width: 50% !important;
}


/* mobile and tablet */

@media only screen and (max-width: 900px) {



}
