body:before {
  background: url(../gfx/chapter-titles/thepoliceman.jpg);
  background-repeat: no-repeat;
  backgrond-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body
{
  background-color: #020a40;
}

.chapter-name {
	top: 5%;
	left: 5%;
}

p, a, .drop-cap, .soundcite {
	color: #fff;
}

.soundcite-loaded {
	background-color: #ffffff26 !important;
}

.soundcite-play:before {
	border-left: 0.95em solid white !important;
}

.soundcite-pause:before {
	border-left: .95em double white !important;
}

svg {
    height: 100vh;
    left: 0;
    width: 100%;
    position: absolute;

}

/*map*/

.popup {
  display: none;
  width: 100%;
  margin: 0;
  height:100vh;
  z-index: 800;
  position: absolute;
  top: 0;
  left: 0;
}

.close {
  position: fixed;
  right: 0;
  top: 0;
  margin-right: 2vw;
  margin-top: 3vh;
  z-index: 800;
  background-color: #ffffff00;
  border: none;
  padding: 1px 8px;
  font-size: 25px;
  color: #000;
  border-radius: 50%;
  background-color: #00000038;
  border: none;
   cursor: pointer;
}

.close i {
  font-size: 25px;
}

#open-slider {
	position: relative;
  margin: 0 auto;
  width: 100%;
  display: inline-block;
  cursor: pointer;
  padding: 0;
  border: 1px solid #ffffff87;
  background-color: #ffffff00;
  outline: none;
}

#open-slider img {
  width: 20%;
  float: left;
}

#open-slider span {
  color: #fff;
  display: inline-block;
  width: 85%;
  position: absolute;
  top: 36%;
  left: 22%;
  font-size: 1.5em;
}


.mobile {
	display: none;
}


.route-legend {
	position: absolute;
  background-color: #ffffffcc;
  padding: 5px;
  font-family: franklin-gothic-urw, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  width: 30%;
  bottom: 5%;
  left: 1%;
  /*text-transform: uppercase;*/
}

.desk-legend {
  position: absolute;
  background-color: #ffffffcc;
  padding: 5px;
  font-family: franklin-gothic-urw, sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 19px;
  bottom: 5%;
  left: 1%;
  z-index: 600;
}

.route-btn {
  display: none;
}



.all {
	display: block;
    background-color: #f3f4f6;
    border: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

/*svg {
	position: fixed;
    top: 15%;
    left: 25%;
    margin-top: -108px;
    margin-left: -250px;
	height: 100vh;
	width: auto;
}*/

/*pulse*/

.route-btn button {
    background-color: #ef6737;
    padding: 8px 11px;
    margin: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-weight: 800;
  }

.route-btn button {
    animation: animate-pulse 3s linear infinite;
    cursor: pointer;
}

#_1-bg, #_2-bg, #_3-bg, #_4-bg, #_5-bg  {
  animation: svg-pulse 2s linear infinite;
}

#_1-bg, #_2-bg, #_3-bg, #_4-bg, #_5-bg  {
  display: block;
}

#_1, #_2, #_3, #_4, #_5  {
  display: block;
}

@keyframes svg-pulse{
    0%{
        opacity: 0.2;
    }
    50%{
        opacity: 0.7;
    }
    100%{
       opacity: 1;
    }
   }


@keyframes animate-pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(255,109,74,0.7),  0 0 0 0 rgba(255,109,74,0.7);
    }
    50%{
        box-shadow: 0 0 0 10px rgba(255,109,74,0.0),  0 0 0 0 rgba(255,109,74,0.7);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(255,109,74,0.0),  0 0 0 10px rgba(255,109,74,0);
    }
   }


.p-text {
	display: none;
}

.portrait {
  width: 100%;
  height: 100%;
  background-color: #030b40;
  position: absolute;
}

.active-p {
	display: block !important;
}

/* mobile and tablet */

@media only screen and (max-width: 900px) {

  body:before {
    background: url(../gfx/m-chapter-titles/m-policeman.jpg);
    background-repeat: no-repeat;
    backgrond-position: center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

  .chapter-name {
    display: none;
  }

  .all {
  	display: block;
  }

  #open-slider span{
    left: 22%;
    font-size: 1em;
    top: 42%;
  }

  #open-slider img {
    width: 30%;
    float: left;
  }

  .popup {
	top: 0;
	position: fixed;
  }

  .desktop {
	display: none;
  }

  .route-btn{
    position: absolute;
    display: grid;
    right: 2%;
    top: 20%;
    z-index: 8;
  }
/*
  #_1-bg, #_2-bg, #_3-bg, #_4-bg, #_5-bg {
    display: none !important;
  }
   #_1, #_2, #_3, #_4, #_5 {
    display: none;
  }*/
}
