body
{
  background-image: url(../gfx/chapter-titles/waitingwife.svg);
  background-repeat: no-repeat;
  background-size: cover;

}

p {
	color: #fff;
}

/* mobile and tablet */

@media only screen and (max-width: 900px) {



}
