body {
    width: 100vw;
    overflow: hidden;
    margin: 0;
    background-color: #a1a686;
}

p {
	font-family: franklin-gothic-urw, sans-serif;
	font-style: normal;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 0.8em;
}

.map-wrapper {
	background-image: url(../gfx/map-main-img/main-img.png);
	background-repeat: no-repeat;
    background-size: cover;
}

.swiper-container {
  width: 100%;
  height: auto;
  position: relative;
}

.swiper-wrapper {
  margin: 0px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide {
	width: 100%;
	background-color: #ffffff00;
}

.swiper-slide img {
  width: 100%;
}

.popup {
  display: none;
  width: 100%;
  margin: 0;
  height:100vh;
  z-index: 600;
  position: absolute;
  top: 0;
  left: 0;
}

/*.close {
  position: absolute;
  right: 0;
  margin-right: 2%;
  margin-top: 1%;
  z-index: 800;
  width: 45px;
}

.close i {
	font-size: 25px;
}*/

.main-view {
	width: 100vw;
	height: 100vh;
}

.main-map-title {
	position: relative;
    padding-top: 10%;
    width: 55%;
    text-align: center;
}

.main-map-title img {
	width: 60%;
}

#open-slider {
	position: relative;
    left: 19%;
    width: 18%;
    height: 40px;
    margin-top: 3%;
    background-color: #e89c00;
    text-align: center;
    border-style: none;
    color: #fff;
}

.left{
    position: absolute;
    width: 25%;
    top: 35px;
    left: 5%;
}

.left-bottom {
	position: absolute;
	width: 25%;
    bottom: 13%;
    left: 5%;
}

.right-top {
	position: absolute;
	width: 25%;
	right: 5%;
	top: 8%;
}

.right-center {
	position: absolute;
	width: 25%;
	right: 5%;
	top: 30%;
}

.map-text {
	position: absolute;
    text-align: left;
}

.map-title {
	font-size: 0.8em;
	font-family: 'IM Fell Double Pica SC', serif;
	text-transform: uppercase;
	line-height: 30px;
	font-weight: 600;
}

.mobile {
	display: none;
}

.mobile img {
	margin-left: 50%;
}

/*slides*/

.slide-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.ba-btn {
	text-align: center;
}

.stats-before, .stats-after {
	background-color: #362f2d;
    color: #fff;
    height: 34px;
    width: 119px;
    border-style: none;
    border-radius: 2.5px;
    margin: 10px;
}

.stats-before:focus, .stats-after:focus{
	opacity: 0.6;
}


/* mobile and tablet */

@media only screen and (max-width: 900px) {


	.popup {
		top: 0;
		position: fixed;
	}

	.mobile {
		display: block;
	}

	.desktop {
		display: none;
	}

	.map-text {
		font-size: 16px;
	}

	.map-title {
		font-size: 22px;
	}

}
