body
{
  background-image: url(../gfx/chapter-titles/rainiessong.svg);
  background-repeat: no-repeat;
  background-size: cover;

}

p, .drop-cap {
	color: #fff;
}

/* mobile and tablet */

@media only screen and (max-width: 900px) {



}
