body:before {
  background: url(../gfx/chapter-titles/waitingwife.jpg);
  background-repeat: no-repeat;
  backgrond-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body
{
  background-color: #907a78;
}

p, a, .drop-cap {
	color: #fff;
}

.chapter-name {
	top: 13%;
  left: 25%;
  width: 30%;
}

.chapter-name img {
  width: 50% !important;
}

body {
    width: 100vw;
    overflow: hidden;
    margin: 0;
}

svg {
	height: 100vh;
  position: absolute;
  left: 0;
}

.portrait {
  width: 100%;
  height: 100%;
  background-color: #907b78;
  position: absolute;
}

.popup {
  display: none;
  width: 100%;
  margin: 0;
  height:100vh;
  z-index: 800;
  position: absolute;
  top: 0;
  left: 0;
}

.court-doc {
  margin: 0 10%;
  font-family: franklin-gothic-urw, sans-serif;
  font-style: normal;
}

.close {
  position: fixed;
  right: 0;
  top: 0;
  margin-right: 2vw;
  margin-top: 3vh;
  z-index: 800;
  padding: 0px 8px;
  background-color: #ffffff00;
  border: none;
  font-size: 25px;
  color: #000;
  border-radius: 50%;
  background-color: #00000038;
  border: none;
   cursor: pointer;
}

.close i {
	font-size: 25px;
}

#open-slider {
  position: relative;
  margin: 0 auto;
  width: 100%;
  display: inline-block;
  cursor: pointer;
  padding: 0;
  border: 1px solid #ffffff87;
  background-color: #ffffff00;
  outline: none;
}

#open-slider img {
  width: 20%;
  float: left;
}

#open-slider span {
  color: #fff;
  display: inline-block;
  width: 75%;
  position: absolute;
  top: 36%;
  left: 22%;
  font-size: 1.5em;
}



.all {
	display: block;
    background-color: #f3f4f6;
    border: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.route-btn {
  display: none;
}

#five, #six, #seven {
  background-color: #2d44f0;
  animation: animate-b-pulse 3s linear infinite;
}

/*pulse*/

.route-btn button {
    background-color: #ef6737;
    padding: 7px 10px;
    margin: 5px;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-weight: 800;
  }

.route-btn button {
    animation: animate-pulse 3s linear infinite;
    cursor: pointer;
}

#_1-bg, #_2-bg, #_3-bg, #_4-bg, #_5-bg, #_6-bg, #_7-bg  {
  animation: svg-pulse 2s linear infinite;
}

#_1-bg, #_2-bg, #_3-bg, #_4-bg, #_5-bg, #_6-bg, #_7-bg  {
  display: block;
}

#_1, #_2, #_3, #_4, #_5, #_6, #_7  {
  display: block;
}

@keyframes svg-pulse{
    0%{
        opacity: 0.2;
    }
    50%{
        opacity: 0.7;
    }
    100%{
       opacity: 1;
    }
   }


@keyframes animate-pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(255,109,74,0.7),  0 0 0 0 rgba(255,109,74,0.7);
    }
    50%{
        box-shadow: 0 0 0 10px rgba(255,109,74,0.0),  0 0 0 0 rgba(255,109,74,0.7);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(255,109,74,0.0),  0 0 0 10px rgba(255,109,74,0);
    }
   }

@keyframes animate-b-pulse {
    0%{
        box-shadow: 0 0 0 0 rgba(45,68,240,0.7),  0 0 0 0 rgba(45,68,240,0.7);
    }
    50%{
        box-shadow: 0 0 0 10px rgba(45,68,240,0.0),  0 0 0 0 rgba(45,68,240,0.7);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(45,68,240,0.0),  0 0 0 10px rgba(45,68,240,0);
    }
   }


.ww-text {
  display: none;
}

.active-w {
  display: block !important;
}

/*#text-1, #text-2, #text-3, #text-4, #text-5, #text-6 {
	display: none;
}
*/
/* mobile and tablet */

@media only screen and (max-width: 900px) {

  body:before {
    background: url(../gfx/m-chapter-titles/m-waitingwife.jpg);
    background-repeat: no-repeat;
    backgrond-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

	.chapter-name {
		display: none;
	}


	.popup {
		top: 0;
		position: fixed;
	}

  #open-slider span{
    left: 28%;
    font-size: 0.9em;
    top: 42%;
  }

  #open-slider img {
    width: 30%;
    float: left;
  }

	.desktop {
		display: none;
	}

   .route-btn{
    position: absolute;
    display: grid;
    right: 1%;
    top: 11%;    
    z-index: 8;
  }

/*  #_1-bg, #_2-bg, #_3-bg, #_4-bg, #_5-bg, #_6-bg, #_7-bg {
    display: none !important;
  }
   #_1, #_2, #_3, #_4, #_5, #_6, #_7 {
    display: none;
  }*/


}
