section {
  padding: 30px;
  box-sizing: border-box;
}

#pinContainer {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  -webkit-perspective: 1000;
  perspective: 1000;
}
    #slideContainer {
    width: 400%;
    height: 100%;
    position: absolute;
}

.page {
  background-color: #ffffff00;
}

.page1, .page2, .page3, .page4  {
    height: 100%;
    width: 25%;
    position: absolute;
    top: 0;
}
    .page1 {
    /*border-style: solid;*/
}

    .page2 {
    left: 25%;
}

  .page3{
    left: 50%;
}

  .page4{
    background-color: #DEFF22; 
    left: 75%;
  
}

p {
    font-family: franklin-gothic-urw, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #fff;
    font-size: 2.4vh;
}

.drop-cap {
    font-size: 4.5em;
    float: left;
    margin-top: .1em;
    margin-right: .15em;
    color: #fff;
}

.row {
    width: 60%;
    float: right;
    opacity: 1;
}

.column {
    float: left;
    width: 44%;
    padding: 20px;
}

.chapter-next {
	position: absolute;
    width: 55%;
    height: 45px;
    bottom: 5%;
    padding: 20px;
   	color: #ffffff;
    right: 10px;
   	text-align: center;
}

.back-to-home {
    text-align: center;
    font-family: franklin-gothic-urw, sans-serif;
    font-size: 13.5px;
    line-height: 2.18;
    letter-spacing: 0.85px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

.arrow-back, .arrow-forward {
	color: #102582;
    width: 15px;
    padding: 3px;
    height: 15px;
    background: #fff;
    border-radius: 70px;
}

.arrow-back {
	float: left;
}

 .arrow-forward {
 	float: right;
 	margin-right: 20px;
 }

 .ion-md-home {
 	color: #fff;
 }