body:before {
  background: url(../gfx/chapter-titles/socialmediastar.jpg);
  background-repeat: no-repeat;
  backgrond-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body
{
  background-color: #ffd8d3;
}

p, a, .drop-cap {
	color: #000;
}

.chapter-name {
  left: 10%;
  top: 10%;
  width: 35% !important;
}

.portrait {
  width: 100%;
  height: 100%;
  background-color: #f9d7d3;
  position: absolute;
}

.swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    display: inline-block;
    border-radius: 100%;
    border: #000 solid 2.4px;
    background-color: transparent !important;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #000 !important;
}

/*.ss
{
  margin: 2vh 10vw;
  width: 50%;
}*/

.s1 img
{
  margin-bottom: 5vh !important;
}

.s1 .swiper-pagination
{
  margin-bottom: 0 !important;
}



/*youtube video*/

    .youtube-player {
        position: relative;
        padding-bottom: 56.23%;
        /* Use 75% for 4:3 videos */
        height: 0;
        overflow: hidden;
        max-width: 100%;
        background: #000;
        margin: 5px;
    }

    .youtube-player iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: transparent;
    }

    .youtube-player img {
        bottom: 0;
        display: block;
        left: 0;
        margin: auto;
        max-width: 100%;
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        height: auto;
        cursor: pointer;
        -webkit-transition: .4s all;
        -moz-transition: .4s all;
        transition: .4s all;
    }

    .youtube-player img:hover {
        -webkit-filter: brightness(75%);
    }

    .youtube-player .play {
        height: 72px;
        width: 72px;
        left: 50%;
        top: 50%;
        margin-left: -36px;
        margin-top: -36px;
        position: absolute;
        background: url("//i.imgur.com/TxzC70f.png") no-repeat;
        cursor: pointer;
    }


/* mobile and tablet */

@media only screen and (max-width: 900px) {

  body:before {
    background: url(../gfx/m-chapter-titles/m-socialmedia.jpg);
    background-repeat: no-repeat;
    backgrond-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

  .chapter-name {
    display: none;
  }

  .ss
  {
    margin: 2vh 5vw;
    width: 80%;
  }

}
