.wrapper {
  background: url(../gfx/chapter-titles/thepoliceman.svg) no-repeat fixed;
  background-size: cover;
}

.chapter-name {
	top: 5%;
	left: 5%;
}

p, a, .drop-cap, .soundcite {
	color: #fff;
}

.soundcite-loaded {
	background-color: #ffffff26 !important;
}

.soundcite-play:before {
	border-left: 0.75em solid white;
}

.soundcite-pause:before {
	border-left: .75em double white;
}

/* mobile and tablet */

@media only screen and (max-width: 900px) {

  .chapter-name {
    top: 10%;
  }
  

}
