
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}
.wrapper
{
  height: 100vh;
  width: 100vw;
  overflow: overlay;
}

section {
  padding: 30px;
  box-sizing: border-box;
}

/*#pinContainer {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  -webkit-perspective: 1000;
  perspective: 1000;
}
    #slideContainer {
    width: 400%;
    height: 100%;
    position: absolute;
}*/


p {
    font-family: franklin-gothic-urw, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.2vw;
}

.drop-cap {
    font-size: 4.5em;
    float: left;
    margin-top: .1em;
    margin-right: .15em;
}

.row {
    width: 50%;
    float: right;
    padding: 20px;
    background-color: #ffffff00;
}

.photo-row {
  width: 100%;
  display: inline-block
}


.chapter-next {
    width: 55%;
    height: 45px;
    bottom: 5%;
    padding: 20px;
   	color: #ffffff;
    right: 10px;
   	text-align: center;
    float: right;
}

/*.back-to-home {
    text-align: center;
    font-family: franklin-gothic-urw, sans-serif;
    font-size: 13.5px;
    line-height: 2.18;
    letter-spacing: 0.85px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}*/

.arrow-back, .arrow-forward {
	  color: #102582;
    width: 15px;
    padding: 3px;
    height: 15px;
    background: #fff;
    border-radius: 70px;
}

.arrow-back {
	float: left;
}

 .arrow-forward {
 	float: right;
 	margin-right: 20px;
 }

 .ion-md-home {
 	color: #fff;
 }


/*swiper styles*/

.swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

/* mobile and tablet */

@media only screen and (max-width: 900px) {

  p {
    font-size: 2vw;
  }


}
