body {
  background: url(../gfx/chapter-titles/twodoctors.svg) no-repeat fixed;
  background-size: cover;
}

p, .drop-cap {
	color: #fff;
}

.chapter-name {
	top: 10%;
    left: 5%;
}

/* mobile and tablet */

@media only screen and (max-width: 900px) {



}
