.wrapper {
  background: url(../gfx/chapter-titles/credits.svg) no-repeat fixed;
  background-size: cover;
}

p, span, table{
	color: #fff;
	font-family: franklin-gothic-urw, sans-serif;
    font-style: normal;
    font-weight: 300;
}
/*
.credits-wrapper {
	width: 50%;
	display: inline-flex;
}

.credits-left {
	text-align: right;
}
*/


table {
	width: 60%;
	position: absolute;
	top: 10%;
}

* {
	margin:0; 
	padding:0;
}
.role { 
	float: right;
	padding-right: 10%;
}

.top, .bottom {
	position: absolute;
}

.top {
	left:23%;
	top: 5%;
	text-transform: uppercase;
	font-size: 1.4vw;
}

.bottom {
	position: absolute;
    bottom: 36%;
    width: 25%;
    left: 27%;
}

/* mobile and tablet */

@media only screen and (max-width: 900px) {

	table {
		width: 51%;
		font-size: 1.6vw;
	}

	.bottom {
		bottom: 20%;
		left: 23%;
		font-size: 1.6vw;
	}

}