.wrapper {
  background: url(../gfx/chapter-titles/credits.svg) no-repeat fixed;
  background-size: cover;
}

p, span, table{
	color: #fff;
	font-family: franklin-gothic-urw, sans-serif;
    font-style: normal;
    font-weight: 300;
}

table {
	width: 100%;
	position: absolute;
	top: 10%;
}

* {
	margin:0; 
	padding:0;
}
.role { 
	float: right;
	padding-right: 10%;
}

.credits-wrapper {
	width: 50%;
	height: 90vh;
    position: relative;

}

.name {
	width: 50%;
	padding-left: 5%;
}

.top, .bottom {
	position: absolute;
}

.top {
	top: 5%;
    text-align: center;
    width: 100%;
	text-transform: uppercase;
	font-size: 1.4vw;
}


/* mobile and tablet */

@media only screen and (max-width: 900px) {

	table {
		font-size: 1.6vw;
	}
}