body {
    width: 100vw;
    background-color: #161640;
    margin: 0;
    padding: 0;
}


#prev-chapter-one
{
	height: 6.5vh;
	background-image: url(../gfx/previous-button.svg);
	background-repeat: no-repeat;
	background-size: 3vh auto;
	background-position: 5% center;
	padding: 1.5vh 2vh 1.5vh 6vh;
	box-sizing: border-box;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
	border-radius: 5px;
  position: fixed;
  bottom: 5vh;
  left: 1vw;

	font-family: franklin-gothic-urw, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#next-chapter-one
{
	height: 6.5vh;
	background-image: url(../gfx/next-button.svg);
	background-repeat: no-repeat;
	background-size: 3vh auto;
	background-position: 93% center;
	padding: 1.5vh 6vh 1.5vh 2vh;
	box-sizing: border-box;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
	border-radius: 5px;
  position: fixed;
  bottom: 5vh;
  right: 1vw;

	font-family: franklin-gothic-urw, sans-serif;
	font-weight: 700;
	font-style: normal;
}

.pangolin-badges
{
  width: 100%;
}

.welcome
{
  height: 100vh;
  width: 100vw;
  padding: 10vh 25vw 10vh 25vw;
  margin: 0;
  z-index: 200;
  background-image: url(../gfx/quiz/quiz-landing.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  text-align: center;
}

.welcome h1 img
{
  width: 47%;
}

.welcome p
{
  font-family: 'Averia Serif Libre', serif;
  font-size: 2.3vh;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.start-btn
{
  width: 15vw;
height: 4vh;
border-radius: 15.5px;
background-color: #fb991e;
font-family: 'Averia Serif Libre', serif;
font-size: 2vh;
font-weight: bold;
text-transform: uppercase;
margin: 2vh;
border:none;
}

.container {
    width: 60vw;
    height: 60vh;
    margin: 20vh 20vw;
    background: #fff;
    border-radius: 21px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
    display: none;
    box-sizing: border-box;
    position: relative;
    font-family: 'Averia Serif Libre', cursive;
}

/* image */

.survey-image
{
  height: 100%;
  float: left;
}

.survey-image img
{
  height: 100%;
}

/* HEADER */

.survey-header {
    min-height: 50px;
    padding: 35px 35px 0 35px;
    font-weight: bold;
    display: flex;
     line-height: 1.54;
}

.survey-num {
    font-size: 15px;
    float: left;
    margin-top: 15px;
    margin-right: 5px;
}

.survey-question {
    font-size: 15px;
}

.correct
{
  text-transform: uppercase;
  color: #0c9d00;
}

.wrong
{
  text-transform: uppercase;
  color: #ff0000;
}


/* BODY */
.survey-body
{
  margin-right: 30px;
}

.choices {
    padding: 1vh 20px;
    display: flex;
    flex-direction: column;
}

.correct-answer , .reason-why
{
    margin-left: 20px;
    line-height: 1.5;
}

.question-row {
    margin: 0;
}

.question-choice {
	width: 100%;
	text-align: left;
  padding: 10px;
}

.question-choice:hover {
	background-color: #fcc178;
}

.label {
    display: flex;
}

.label input[type="checkbox"] {
    vertical-align: sub;
    align-self: center;
    visibility: hidden;
}

.label input[type="checkbox"]:checked+span {
	background-color: #fb991e;
}


/* FOOTER */

.survey-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
    padding: 20px;
    padding-top: 0;
    box-sizing: border-box;
}

.nav-button {
    padding: 3px 12px;
    border:none;
    margin-right: 7px;
    width: 85px;
    height: 30.5px;
    border-radius: 15.5px;
    background-color: #fb991e;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    font-family: 'Averia Serif Libre', cursive;
}

.nav-button.next {
	float: right;
}

/* TEST COMPLETE */

.result-img
{
  float: left;
  height: 100%;
  text-align: center;
}

.result-img img
{
  height: 70%;
  display: block;
  margin-top: 10px;
}

.result-img a
{
  color: #000;
  cursor: pointer;
}

.result-text
{
  padding: 12px 70px;
  text-align: center;
}

h2.test-completed {
    text-align: center;
    margin-top: 20px;
}

h2.test-completed img{
    width: 26.5%;
}

h3.test-score {
    opacity: 0.55;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    font-weight: 400;
}

.results-info {
    text-align: center;
    margin-top: 20px;
    line-height: 1.5;
}

.end-btn
{
  border-radius: 15.5px;
  background-color: #fb991e;
  padding: 9px 12px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Averia Serif Libre', cursive;
  border:none;
  margin: 10px 5px;
}

/* mobile and tablet */

@media only screen and (max-width: 900px) {

  .welcome
  {
    padding: 5vh 22vw 12vh 22vw;
    overflow-y: scroll;
  }

  .welcome h1 img
  {
    width: 75%;
    margin-bottom: 5vh;
  }

  .welcome p
  {
    font-size: 3vh;
    line-height: 1.5;
  }

  #prev-chapter-one
  {
    left: inherit;
  }

  .start-btn
  {
    width: 20vw;
  height: 7vh;
  font-size: 3vh;
  }

  .container {
      width: 80vw;
      height: 80vh;
      margin: 10vh 10vw;
      border-radius: 21px;
  }

  .survey-header {
      padding: 15px 15px 0 15px;
      min-height: 10px;
  }

  .survey-num {
    margin-top: 11.5px;
      font-size: 11.5px;
  }

  .survey-question {
      font-size: 11.5px;
  }

  .choices {
      padding: 1vh 0;
      font-size: 11.5px;
  }

  .question-choice {
    padding: 3.5px 0;
  }

  .correct-answer , .reason-why
  {
      margin: 3px 0 3px 20px;
      line-height: 1.5;
  }

  .wrong , .correct
  {
    margin: 0;
  }

  /* TEST COMPLETE */


  .result-img a
  {
    font-size: 11px;
  }

  .result-text
  {
    padding: 7px 35px;
    text-align: center;
  }

  h2.test-completed {
      text-align: center;
      margin-top: 12px;
      margin-bottom: 12px;
  }

  h2.test-completed img{
      width: 29%;
  }

  h3.test-score {
      font-size: 9.5px;
      margin-top: 15px;
  }

  .results-info {
      text-align: center;
      margin-top: 8px;
      line-height: 1.5;
      font-size: 11.5px;
  }

  .end-btn
  {
    padding: 8px 12px;
    margin: 7px 5px;
    font-size: 11px;
  }

}

@media only screen and (orientation: portrait) {

  .prev-next-btn
  {
    position: fixed !important;
    bottom: 0;
  }

  .pangolin-badges
  {
    display: none;
  }

  .welcome
  {
    padding: 50vh 15vw 5vh 15vw;
    margin: 0;
    background-image: url(../gfx/quiz/quiz-landing-m.jpg);
    text-align: center;
    overflow-y: hidden;
  }

.welcome h1 img
{
  display: none;
}

.welcome p
{
  font-size: 2vh;
  line-height: 1.5;
}

.start-btn
{
  width: 40vw;
height: 4vh;
font-size: 2vh;
}

.survey-image
{
  display: none;
}

.survey-body
{
  padding-top: 3vh;
}

.survey-num {
  margin-top: 13px;
    font-size: 13px;
}

.survey-question {
    font-size: 13px;
}

.choices {
    font-size: 13px;
}

.question-choice {
  padding: 10px 0;
}

.correct-answer , .reason-why
{
    margin: 3px 0 3px 20px;
    line-height: 1.5;
}

.container
{
  padding: 2vh 4vw;
}


/* TEST COMPLETE */

.result-img
{
  float: none;
  width: 66%;
  margin: 0 17%;
  height: auto;
  text-align: center;
}

.result-img img
{
  width: 100%;
  height: auto;
  margin-top: 0;
  text-align: center;
}

.result-text
{
  padding: 0;
  text-align: center;
}

h2.test-completed {
    text-align: center;
    margin-top: 5px;
}

h2.test-completed img{
    width: 45.5%;
}

h3.test-score {
    margin-top: 8px;
    margin-bottom: 0;
}

.results-info {
    text-align: center;
    margin-top: 15px;
    line-height: 1.5;
}

.end-btn
{
  padding: 9px 12px;
  margin: 10px 5px;
  font-size: 11px;
}


}
