body {
    width: 100vw;
    background-color: #161640;
    margin: 0;
    padding: 0;
}

.welcome
{
  height: 100vh;
  width: 100vw;
  padding: 25vh 25vw;
  margin: 0;
  z-index: 200;
  background: #fff;
  box-sizing: border-box;
  text-align: center;
}

.welcome p
{
  font-family: 'Averia Serif Libre', serif;
  font-size: 2.3vh;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.start-btn
{
  width: 8vw;
height: 4vh;
border-radius: 15.5px;
background-color: #fb991e;
font-family: 'Averia Serif Libre', serif;
font-size: 2vh;
font-weight: bold;
text-transform: uppercase;
margin: 2vh;
}

.container {
    width: 60vw;
    height: 50vh;
    margin: 25vh 20vw;
    background: #fff;
    border-radius: 21px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
    display: none;
    box-sizing: border-box;
    position: relative;
    font-family: 'Averia Serif Libre', cursive;
}

/* image */

.survey-image
{
  height: 100%;
  float: left;
}

.survey-image img
{
  height: 100%;
}

/* HEADER */

.survey-header {
    min-height: 50px;
    padding: 35px 35px 0 35px;
    font-weight: bold;
    display: flex;
     line-height: 1.54;
}

.survey-num {
    font-size: 15px;
    float: left;
    margin-top: 15px;
    margin-right: 5px;
}

.survey-question {
    font-size: 15px;
}

.correct
{
  text-transform: uppercase;
  color: #0c9d00;
}

.wrong
{
  text-transform: uppercase;
  color: #ff0000;
}


/* BODY */
.survey-body
{
  margin-right: 30px;
}

.choices {
    padding: 1vh 20px;
    display: flex;
    flex-direction: column;
}

.correct-answer , .reason-why
{
    margin-left: 20px;
    line-height: 1.5;
}

.question-row {
    margin: 0;
}

.question-choice {
	width: 100%;
	text-align: left;
  padding: 10px;
}

.question-choice:hover {
	background-color: #fcc178;
}

.label {
    display: flex;
}

.label input[type="checkbox"] {
    vertical-align: sub;
    align-self: center;
    visibility: hidden;
}

.label input[type="checkbox"]:checked+span {
	background-color: #fb991e;
}


/* FOOTER */

.survey-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
    padding: 20px;
    padding-top: 0;
    box-sizing: border-box;
}

.nav-button {
    padding: 3px 12px;
    border:none;
    margin-right: 7px;
    width: 85px;
 height: 30.5px;
 border-radius: 15.5px;
 background-color: #fb991e;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
}

.nav-button.next {
	float: right;
}

/* TEST COMPLETE */

h1.test-completed {
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    font-weight: 400;
}

.tick {
    position: relative;
    display: block;
    margin: 20px auto;
    /* margin-top: 30px; */
    border: 1px solid green;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.tick::before {
    content: '';
    position: absolute;
    top: 16%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 32px;
    border-style: solid;
    border-color: green;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
}

.results-info {
    text-align: center;
    margin-top: 20px;
}
