body
{
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  font-family: franklin-gothic-urw, sans-serif;
}

.animsition
{
  margin: 0;
  padding: 0;
}

.title
{
  margin: 0 0 18vh 0;
  width: 95%;
}

.logos {
  position: absolute;
  top: 1%;
  right: 0;
  opacity: 0.5;
  width: 30%;
}

.logos img {
  width: 25%;
  height: 4vh;
  padding: 5px;
}

.main-intro
{
  color: #fff;
  font-size: 2vh;
  text-align: center;
  font-weight: 300;
  position: absolute;
  top: 0;
  height: 100vh;
  padding: 10vh 32vw;
}

.main-intro p
{
  line-height: 1.3;
  opacity: 0.75;
}

.story-btn
{
  width: 49%;
  cursor: pointer;
  height: 8.5vh;

}

.story-btn:hover
{

}


@media only screen and (max-width: 900px) {

  .main-intro
  {
    color: #fff;
    font-size: 2.8vh;
    padding: 10vh 25vw;
  }

  .title
  {
    margin: 0 0 10vh 0;
    width: 80%;
  }

  .logos {
    right: 3%;
  }

  .pangolin-btn
  {
    height: 9vh;
    width: 18vw;
    border-radius: 1vh;
    margin: 2vh 0vw;

    font-weight: 700;
    font-size: 2vh;
  }

  .story-btn
  {
    height: 9vh;
    width: 18vw;
    border-radius: 1vh;
    margin: 2vh 0.5vw;

    font-weight: 700;
    font-size: 2vh;
  }


}
