body
{
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.title
{
  margin: 0 0 18vh 0;
  width: 95%;
}

.logos {
  position: fixed;
  top: 1%;
  right: 0;
  opacity: 0.5;
  width: 30%;
}

.logos img {
  width: 25%;
  height: 4vh;
  padding: 5px;
}

.main-intro
{
  color: #fff;
  font-size: 2vh;
  text-align: center;
  position: absolute;
  top: 0;
  height: 100vh;
  padding: 7vh 30vw;
  overflow-y: scroll;
  font-family: 'Averia Serif Libre', cursive;
  font-style: normal;
  font-weight: 300;
}

.main-intro p
{
  line-height: 1.3;
  opacity: 0.75;
}

.story-btn
{
  width: 49%;
  cursor: pointer;
  height: 8.5vh;
  margin: 3vh 0;
}

.story-btn:hover
{

}


@media only screen and (max-width: 900px) {

  .main-intro
  {
    color: #fff;
    font-size: 1em;
    padding: 6vh 22vw;
  }

  .main-intro p {
    width: 100%;
    margin: 0 auto;
  }

  .title
  {
    margin: 16% 0 30% 0;
    width: 100%;
  }

  .logos {
    right: 3%;
  }

  .pangolin-btn
  {
    height: 9vh;
    width: 18vw;
    border-radius: 1vh;
    margin: 2vh 0vw;

    font-weight: 700;
    font-size: 2vh;
  }

  .story-btn
  {
    height: 9vh;
    width: 18vw;
    border-radius: 1vh;
    margin: 6% 0.5vw 20%;
    font-weight: 700;
    font-size: 2vh;
  }


}
